<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Antonio Paya Gonzalez">

    <title>Antonio Blockchain Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        {% block nav %}
        <!-- Navigation -->
            <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                <div class="sidebar-brand-icon">
                    <img src="/logo.png" alt="logo" style="width:40px;height:40px;">
                </div>
                <div class="sidebar-brand-text mx-3">HF Dashboard</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>

                <!-- Divider -->
                <hr class="sidebar-divider">
            </li>

        
            <li>
                <!-- Heading -->
                <div class="sidebar-heading">
                Transacciones
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->

            <li class="nav-item">
                <a class="nav-link" href="/bloques">
                <i class="fas fa-fw fa-cubes"></i>
                <span>Listar bloques</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/buscar">
                <i class="fas fa-fw fa-search"></i>
                <span>Buscar transacciones</span></a>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <li class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"><span hidden>Colapsar</span></button>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i> <span hidden>Menu</span>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group" >
                    <input type="text" id="txidHead" class="form-control bg-light border-0 small" placeholder="Buscar transacción por id..." 
                        aria-label="Search" name="consulta">
                    <div class="input-group-append" >
                    <button id="buscarHead" class="btn btn-primary bg-gradient-primary" type="button" style="border:0px">
                        <i class="fas fa-search fa-sm"></i> Buscar
                    </button>
                    </div>
                </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i> Buscar
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" id="page-top">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i> Buscar
                            </button>
                        </div>
                        </div>
                    </form>
                    </div>
                </li>

                </ul>

            </nav>
            <!-- End of Topbar -->
        {% endblock %}

        {% block contenido_principal %}
        <!-- Contenido -->
        <div class="container-fluid">
           <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
        </div>
        <!-- /.container-fluid -->
        {% endblock %}

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; Antonio Payá 2019</span>
              </div>
            </div>
        </footer>
        <!-- End of Footer -->
        </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i> Subir
    </a>

    {% block scripts %}
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/main.min.js"></script>
    
    {% endblock %}

</body>

</html>
