{% extends "base.html" %}

{% block titulo %} Bloques - Blockchain Dashboard {% endblock %}

{% block contenido_principal %}

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12" id="transactionListView">

            <div class="container">
                <div class="page-header">
                    <h1 id="timeline">Todas los bloques</h1>
                </div>
                <ul class="timeline" id="tableBody">
                    {% for block in blocks %}
                    {% if block.number%2 == 0 %}
                    <li>
                        <div class="timeline-badge info"><i class="fas fa-cubes"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{block.number}}</h4>
                            </div>
                            <div class="timeline-body">
                                <b>Hash actual:</b><p class="hash">{{block.dataHash}}</p>
                                <b>Hash anterior:</b><p class="hash">{{block.prevHash}}</p>
                                <b>Channel:</b><p class="hash">{{block.channel}}</p>
                                <b>Timestamp:</b><p class="hash">{{block.timestamp}}</p>
                                <b>TxId:</b><p class="hash">{{block.txid}}</p>
                                <b>Organización:</b><p class="hash">{{block.org}}</p>
                                <hr>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" onclick="location.href = '/allInfoBlock/{{block.number}}';">
                                        Ver todo el contenido del bloque
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if block.number%2 != 0 %}
                    <li class="timeline-inverted">
                        <div class="timeline-badge info"><i class="fas fa-cubes"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{block.number}}</h4>
                            </div>
                            <div class="timeline-body">
                                <b>Hash actual:</b><p class="hash">{{block.dataHash}}</p>
                                <b>Hash anterior:</b><p class="hash">{{block.prevHash}}</p>
                                <b>Channel:</b><p class="hash">{{block.channel}}</p>
                                <b>Timestamp:</b><p class="hash">{{block.timestamp}}</p>
                                <b>TxId:</b><p class="hash">{{block.txid}}</p>
                                <b>Organización:</b><p class="hash">{{block.org}}</p>
                                <hr>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" onclick="location.href = '/allInfoBlock/{{block.number}}';">
                                        Ver todo el contenido del bloque
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
{% block scripts %}
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap-notify.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
    
{% endblock %}
